.DS_STORE
Muse.xcodeproj/project.xcworkspace/xcshareddata/*
Muse.xcodeproj/xcuserdata/*
Muse.xcodeproj/project.xcworkspace/xcuserdata/*
Muse.xcodeproj/project.xcworkspace/xcuserdata/saahithi.xcuserdatad/UserInterfaceState.xcuserstate
